<ion-header>
  <ion-navbar>
    <ion-title>{{ userDetails.name || 'Device' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="BLEAlert" *ngIf="!bleStatus"> 
          Please Enable BLE
      </div> 
      <h3 class="connStatus">{{connectionStatus}}</h3>
<div class="connectBtnDiv">
    <button class="btnConnect" *ngIf="connectionStatus === 'Disconnected' " (click)="onConnectButton()">Connect</button>
    <button class="btnConnectdup" *ngIf="connectionStatus === 'Connected' " >Connected</button>
    <button class="btnDisconnect" *ngIf="connectionStatus === 'Connected' " (click)="onDisconnectButton()">Disconnect</button>
    <button class="btnDisconnectdup" *ngIf="connectionStatus === 'Disconnected' ">Disconnected</button>
</div>

<ion-list >
  <!-- *ngIf="connectionStatus === 'Connected' &&  (bleStatus)"  -->

<ion-item style="background-color: rgb(216, 231, 146)">

</ion-item> 

  <ion-item *ngFor="let chrstic of peripheral.characteristics;let charIndex = index">
    <p>service: {{chrstic.service}}</p>
    <p>characteristic: {{chrstic.characteristic}}</p>
    <ion-item *ngFor="let prop of chrstic.properties;let propIndex = index">

      <button class="charBtn" *ngIf = "prop == 'read'" (click)="onReadButton(chrstic.service,chrstic.characteristic,charIndex)">
        <ion-icon name="glasses"></ion-icon>
      </button>
      <button class="charBtn" *ngIf = "prop == 'write'" (click)="onWriteButton(chrstic.service,chrstic.characteristic,charIndex)">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
      <div *ngIf = "prop[propIndex] == 'notify'">
      <button class="charBtn"  *ngIf= "notifyStatus"  (click)="onNotifyOnButton(chrstic.service,chrstic.characteristic,charIndex)">
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
      <button class="charBtn" *ngIf= "!notifyStatus" (click)="onNotifyOffButton(chrstic.service,chrstic.characteristic,charIndex)">
        <ion-icon name="notifications-off"></ion-icon>
      </button>
    </div>
    <!-- </ion-item> -->
    <ion-badge item-end color="danger">{{ charactersticData[charIndex] }}</ion-badge>
  
  </ion-item>


</ion-list>
</ion-content>



