<ion-content>

    <div class="app-header">
        <div class="app-title" >
          LED Dimmer
        </div>
          <button  class="scan-btn" type="button"  (click)="onScan()">
            <p style="font-family: cursive;font-weight:900;color:rgb(3, 77, 121)">Scan</p></button>
            <!-- *ngIf="locationStatus && bleStatus" -->
    </div>

    <ion-refresher slot="fixed" (ionRefresh)="onScanRefresher($event)"  pullMax="180">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Scanning...">
        </ion-refresher-content>
      </ion-refresher>

     <div class="main" *ngIf="!bleStatus">
    <div class="background">
    </div>
    <h2 class="sub2">Please Enable BLE
    </h2>
    <button class="btn1" large round ion-button (click)="enableBLE()">
      <ion-icon name="bluetooth">
      </ion-icon>
    </button>
  </div>  

   <div class="main1" *ngIf="!locationStatus && bleStatus">
      <div class="background">
        </div>
    <h2 class="sub2">Enable Location
    </h2>
    <button class="btn3" large round ion-button (click)="openGPSSettingsPage()">
      <ion-icon name="locate"></ion-icon>
    </button>
    <button class="btn2" round ion-button (click)="GPSDetailsAlert()">
      <ion-icon name="help"></ion-icon>
    </button>
  </div> 

  <!-- *ngIf="locationStatus && bleStatus" -->

  <ion-list> 
    <button class="devicesButton" ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2 style="font-family: 'Times New Roman', Times, serif;font-weight: bold;color: black">{{ device.name  }}</h2>
      <p style="color: rgb(170, 123, 5)">{{ device.id }}</p>
      <p style="color: rgb(202, 146, 5)">RSSI: {{ device.rssi }}</p>
    </button>
   </ion-list>

</ion-content>

<!-- <div class="main1" *ngIf="!locationStatus || !bleStatus"> -->

  